body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;	
}

h1 {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

/*.main-header a {
	color: #fff;
}*/

.breadcrumbs a {
	color: #000;
}

.breadcrumbs li:last-child {
	color:#aba9a7;
}

form p {
	font-size: 24px;
	line-height: 30px;
}

.show-button {
	font-size: 13px;
	/*color: #fff;*/
}

article h2 {
	font-size: 14px;
}

.buy-btn  a {
	/*color: #fff;*/
}

.vendor-code {
	color:#aba9a7;	
}

.information-container {
	line-height: 24px;
}

.item-set p {
	font-size: 24px;
	line-height: 30px;
}



footer {
	line-height: 24px;
	/*color: #fff;*/
}